.weather-widget .widget {
    direction: rtl;
}


.weather-widget .weather-timeline {
    direction: rtl;
}

.weather-widget .w-left {
    float: right;
}
.weather-widget .w-right {
    float: left;
}

.weather-widget .banermeta {
    text-align: right;
}

.weather-widget .max-min-temperature {
    margin-right: 0;
    margin-left: 20px;
}