.weather-widget .widget {
    direction: ltr;
}

.weather-widget .sidebar .widget {
    display: inline-block;
    position: relative;
    width: 100%;
    background: #fdfdfd;
    border: 1px solid #ede9e9;
    border-radius: 3px;
}

.weather-widget .banner {
    color: #fff;
    float: left;
    padding: 15px 30px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.weather-widget .bg-image {
    float: left;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: auto;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.weather-widget .baner-top {
    display: inline-block;
    text-align: right;
    width: 100%;
    z-index: 1;
    position: relative;
}

.weather-widget .w-left {
    float: left;
    display: flex;
    flex-direction: row;
}
.weather-widget .w-right {
    float: right;
    display: flex;
    flex-direction: row;
}
.weather-widget .max-min-temperature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
.weather-widget .max-min-temperature span {
    display: block;
}
.weather-widget .temperature-sensor {
    font-size: 60px;
    line-height: 1;
}

.weather-widget .weather-timeline {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 22px 0px;
    direction: ltr;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.weather-widget .banermeta {
    display: inline-block;
    margin-top: 30px;
    width: 100%;
    z-index: 9;
    position: relative;
    text-align: left;
}

.weather-widget .banermeta > p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: initial;
    text-transform: uppercase;
}

.weather-timeline-item {
    margin-bottom: 15px;
}


.lds-roller {display: inline-block; position: relative; width: 64px; height: 64px; } 
.lds-roller div {animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; transform-origin: 32px 32px; } 
.lds-roller div:after {content: " "; display: block; position: absolute; width: 6px; height: 6px; border-radius: 50%; background: #fff; margin: -3px 0 0 -3px; } 
.lds-roller div:nth-child(1) {animation-delay: -0.036s; } 
.lds-roller div:nth-child(1):after {top: 50px; left: 50px; } 
.lds-roller div:nth-child(2) {animation-delay: -0.072s; } 
.lds-roller div:nth-child(2):after {top: 54px; left: 45px; } 
.lds-roller div:nth-child(3) {animation-delay: -0.108s; } 
.lds-roller div:nth-child(3):after {top: 57px; left: 39px; } 
.lds-roller div:nth-child(4) {animation-delay: -0.144s; } 
.lds-roller div:nth-child(4):after {top: 58px; left: 32px; } 
.lds-roller div:nth-child(5) {animation-delay: -0.18s; } 
.lds-roller div:nth-child(5):after {top: 57px; left: 25px; } 
.lds-roller div:nth-child(6) {animation-delay: -0.216s; } 
.lds-roller div:nth-child(6):after {top: 54px; left: 19px; } 
.lds-roller div:nth-child(7) {animation-delay: -0.252s; } 
.lds-roller div:nth-child(7):after {top: 50px; left: 14px; } 
.lds-roller div:nth-child(8) {animation-delay: -0.288s; } 
.lds-roller div:nth-child(8):after {top: 45px; left: 10px; } 
@keyframes lds-roller {0% {transform: rotate(0deg); } 100% {transform: rotate(360deg); } }


